include README.md
include LICENSE
include CHANGELOG.md
include pyproject.toml
include Makefile

recursive-include src/microfactual *.py
recursive-include datasets *.tsv *.txt

global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store
